
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Agregar calificacion</h5>
      <form name="post" (ngSubmit)="f2.form.valid && postCalificacion(calificacionForm)" #f2="ngForm" novalidate>
        <div class="form-group">
          <label for="calificacionNum"><b>Calificacion númerica</b></label>
          <input type="text" name="calificacionNum" class="form-control" id="calificacionNum"
            [(ngModel)]="calificacion.calificacionNumerica" #calificacionNum="ngModel"
            [ngClass]="{ 'is-invalid': calificacionForm.submitted && calificacionNum.invalid }" required>
          <div class="invalid-feedback">
            <div>The calificacion's title is missing</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="calificacionComentario"><b>Comentario</b></label>
            <input type="text" name="calificacionComentario" class="form-control" id="calificacionComentario"
              [(ngModel)]="calificacion.comentario" #calificacionComentario="ngModel"
              [ngClass]="{ 'is-invalid': calificacionForm.submitted && calificacionComentario.invalid }" required>
            <div class="invalid-feedback">
              <div>The calificacion's comment is missing</div>
            </div>
          </div>
        </div>
        <div class="row form-inline justify-content-center align-self-center">
          <button type="submit" class="btn btn-primary">Publicar calificacion</button>
        </div>
      </form>
    </div>
  </div>
</div>