<div class="container">
  <div class=" row no-gutters">
    <div class="col-12 col-sm-6 col-md-8">


      <div class="card mb-3 mx-auto" style="max-width: 7F40px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://falabella.scene7.com/is/image/FalabellaCO/4183452_1?$producto308$&wid=800&hei=800&qlt=70"
              class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary">Agregar Al Carrito</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-6 col-md-4">




    </div>
  </div>



</div>