<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<h1>Facturas {{cliente.nombre}}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Número de factura</th>
      <th scope="col">Total pago (COP)</th>
      <th scope="col">Impuestos (%)</th>
      <th scope="col">Fecha de pago</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let factura of clienteDetail.facturas">
      <td>{{factura.numeroDeFactura}}</td>
      <td>{{factura.totalPago}}</td>
      <td>{{factura.impuestos}}</td>
      <td>{{factura.fechaDePago}}</td>
    </tr>
  </tbody>
</table>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <h1>Comprobantes de pago {{cliente.nombre}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Número de factura asociada</th>
        <th scope="col">Total pago (COP)</th>
        <th scope="col">Impuestos (%)</th>
        <th scope="col">Número de tarjeta</th>
        <th scope="col">Fecha de factura</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comprobante of clienteDetail.comprobantesRecibidos">
        <td>{{comprobante.numeroDeFactura}}</td>
        <td>{{comprobante.totalDePago}}</td>
        <td>{{comprobante.impuestos}}</td>
        <td>{{comprobante.numeroDeTarjeta}}</td>
        <td>{{comprobante.fechaDeFactura}}</td>
      </tr>
    </tbody>
  </table>