<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crear categoría</h5>
        <form name="nombreCategoria" (ngSubmit)="f.form.valid && createCategoria()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="nombreCategoria"><b>Nombre de Categoria</b></label>
            <input type="text" name="nombreCategoria" class="form-control" id="nombreCategoria"
              [(ngModel)]="categoria.nombreCategoria" #nombreCategoria="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && nombreCategoria.invalid}" required>
            <div class="invalid-feedback">
              <div>The categoria's nombre de categoria is missing</div>
            </div>
          </div>
          <div class="row form-inline justify-content-center align-self-center">
            <button type="submit" class="btn btn-primary">Crear</button>
            <div class="divider"></div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crear marca</h5>
        <form name="marca" (ngSubmit)="f2.form.valid && createMarca()" #f2="ngForm" novalidate>
          <div class="form-group">
            <label for="marcaName"><b>Nombre</b></label>
            <input type="text" name="marcaName" class="form-control" id="marcaName" [(ngModel)]="marca.nombreMarca"
              #marcaName="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && marcaName.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta el nombre de la marca</div>
            </div>
            <label for="marcaLogo"><b>Ingrese la url del logo de la marca</b></label>
            <input type="text" name="marcaLogo" class="form-control" id="marcaLogo" [(ngModel)]="marca.logo"
              #marcaLogo="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && marcaLogo.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta el logo de la marca</div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary">Crear</button>
              <div class="divider"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6 offset-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crear dispositivo</h5>
        <form name="dispositivo" (ngSubmit)="f3.form.valid && createDispositivo()" #f3="ngForm" novalidate>
          <div class="form-group">
            <label for="dispositivoName"><b>Nombre</b></label>
            <input type="text" name="dispositivoName" class="form-control" id="dispositivoName"
              [(ngModel)]="dispositivo.nombre" #dispositivoName="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoName.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta el nombre del dispositivo</div>
            </div>
            <label for="dispositivoModelo"><b>Ingrese el modelo del dispositivo</b></label>
            <input type="text" name="dispositivoModelo" class="form-control" id="dispositivoModelo"
              [(ngModel)]="dispositivo.modelo" #dispositivoModelo="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoModelo.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta el modelo del dispositivo</div>
            </div>

            <label for="dispositivopImportacion"><b>Ingrese el precio de importación del dispositivo</b></label>
            <input type="text" name="dispositivopImportacion" class="form-control" id="dispositivopImportacion"
              [(ngModel)]="dispositivo.precioImportacion" #dispositivopImportacion="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivopImportacion.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta el precio de importación del dispositivo</div>
            </div>

            <label for="dispositivoTipo"><b>Ingrese el tipo del dispositivo</b></label>
            <input type="text" name="dispositivoTipo" class="form-control" id="dispositivoTipo"
              [(ngModel)]="dispositivo.tipo" #dispositivoTipo="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoTipo.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta el tipo del dispositivo</div>
            </div>

            <label for="dispositivoDescripcion"><b>Ingrese la descripción del dispositivo</b></label>
            <input type="text" name="dispositivoDescripcion" class="form-control" id="dispositivoDescripcion"
              [(ngModel)]="dispositivo.descripcion" #dispositivoDescripcion="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoDescripcion.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta la descripción del dispositivo</div>
            </div>

            <label for="dispositivoDescuento"><b>Ingrese el descuento del dispositivo</b></label>
            <input type="text" name="dispositivoDescuento" class="form-control" id="dispositivoDescuento"
              [(ngModel)]="dispositivo.descuento" #dispositivoDescuento="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoDescuento.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta el descuento del dispositivo</div>
            </div>

            <label for="dispositivoEstado"><b>Ingrese el estado del dispositivo</b></label>
            <input type="text" name="dispositivoEstado" class="form-control" id="dispositivoEstado"
              [(ngModel)]="dispositivo.estado" #dispositivoEstado="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoEstado.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta el estado del dispositivo</div>
            </div>

            <label for="dispositivoPrecio"><b>Ingrese el precio del dispositivo</b></label>
            <input type="text" name="dispositivoPrecio" class="form-control" id="dispositivoPrecio"
              [(ngModel)]="dispositivo.precio" #dispositivoPrecio="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoPrecio.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta el precio del dispositivo</div>
            </div>

            <label for="dispositivoImagenes"><b>Ingrese la imagen del dispositivo</b></label>
            <input type="text" name="dispositivoImagenes" class="form-control" id="dispositivoImagenes"
            [(ngModel)]="dispositivo.imagenes" #dispositivoImagenes="ngModel" 
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoImagenes.invalid }" required>
            <div class="invalid-feedback">
              <div>Hace falta la imagen del dispositivo</div>
            </div>

            <label for="dispositivoPromocion"><b>Promocion</b></label>
            <input type="checkbox" name="dispositivoPromocion" class="form-control" id="dispositivoPromocion"
              value=checked [(ngModel)]="dispositivo.promocion" #dispositivoPromocion="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoPromocion.invalid }">

            <label for="dispositivoUsado"><b>Usado</b></label>
            <input type="checkbox" name="dispositivoUsado" class="form-control" id="dispositivoUsado" value=checked
              [(ngModel)]="dispositivo.usado" #dispositivoUsado="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoUsado.invalid }" >

            <label for="dispositivoStock"><b>En Stock</b></label>
            <input type="checkbox" name="dispositivoStock" class="form-control" id="dispositivoStock" value=checked
              [(ngModel)]="dispositivo.enStock" #dispositivoStock="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoStock.invalid }" >

            <label for="dispositivoImportado"><b>Es importado</b></label>
            <input type="checkbox" name="dispositivoImportado" class="form-control" id="dispositivoImportado"
              value=checked [(ngModel)]="dispositivo.esImportado" #dispositivoImportado="ngModel"
              [ngClass]="{ 'is-invalid': f3.submitted && dispositivoImportado.invalid }" >

            <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary">Crear</button>
              <div class="divider"></div>
            </div>
          </div>
        </form>
      </div>