<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Agregar una nueva marca</h2>
            <br>
            <form name="marca" (ngSubmit)="f.form.valid && createMarca()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="marcaName"><b>Nombre</b></label>
                    <input type="text" name="marcaName" class="form-control" id="marcaName" [(ngModel)]="marca.nombreMarca"
                        #marcaName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && marcaName.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Hace falta el nombre de la marca</div>
                    </div>
                    <div class="row form-inline justify-content-center align-self-center">
                        <button type="submit" class="btn btn-primary">Crear</button>
                        <div class="divider"></div>
                        <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>