  
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear una Categoria</h2>
        <br>
        <form name="editorial" (ngSubmit)="f.form.valid && createCategoria()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="categoriaName"><b>Nombre</b></label>
                <input type="text" name="categoriaName" class="form-control" id="categoriaName" [(ngModel)]="categoria.name"
                    #editorialName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && categoriaName.invalid }" required>
                <div class="invalid-feedback">
                    <div>The categoria's name is missing</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary"></button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>