.fuente::placeholder{
    font-size: 10px;
}
.carousel-control-next{
    background-color: rgba(0, 0, 0, 0.3)
}
.carousel-control-prev{
    background-color: rgba(0, 0, 0, 0.3)
}

.carousel-control-next{
    width: 50px;
    height: 100px;
}

.carousel-control-prev{
    width: 50px;
    height: 100px;
}
